@use "helpers" as *;

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('woff2');
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('woff2');
   font-style: italic;
   font-display: swap;
}