@use "helpers" as *;

body {
   @include fluid-text(18, 16);
   
   font-family: var(--font-family-base);
   font-weight: 400;
   line-height: 1.28px;
   color: var(--color-light);
   background-color: var(--color-dark);
   overflow-y: scroll;
}

.visually-hidden {
   @include visually-hidden;
}

.hidden-display-none {
   display: none;
}

.container {
   max-width: calc(var(--container-width) - var(--container-padding-x) * 2);
   padding-inline: var(--container-padding-x);
   margin-inline: auto;
}

a,
button,
input,
textarea,
select,
svg * {
   transition-duration: var(--transition-duration);
}

select {
   padding: 5px;
   background-color: var(--color-light);
   border-radius: var(--border-radius);

   @include hover {
      background-color: var(--color-accent);
   }

   &:focus-visible {
      outline: var(--border-accent);
      outline-offset: 1px;
   }
}

input {
   @include reset-button;

   height: 40px;
   padding: 6px 8px;
   background-color: var(--color-light);
   border-radius: var(--border-radius-small);
   color: var(--color-dark);

   @include hover {
      background-color: var(--color-accent);
   }

   &:focus {
      background-color: var(--color-accent);
   }
}

h1, h2, h3, h4 {
   font-weight: 500;
}

h1, .h1 {
   @include fluid-text(60, 43)
}

h2, .h2 {
   @include fluid-text(40, 36)
}

h3, .h3 {
   @include fluid-text(30, 26)
}

h4, .h4 {
   @include fluid-text(24, 20)
}