@use '../helpers' as *;

.account-info {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
   margin-bottom: 20px;

   &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @include mobile {
         grid-template-columns: repeat(2, 1fr);
      }

      @include mobile-s {
         // grid-template-columns: repeat(1, 1fr);
      }
   }

   &-item {
      padding: 10px;
      background-color: var(--color-dark-alt);
      border: var(--border-accent);
      border-radius: var(--border-radius-small);
      box-shadow: var(--shadow);

      .balance {
         color: var(--color-accent);
      }
   }
}