@use "../helpers" as *;

.login,
.auth {
   display: flex;
   flex-direction: column;
   row-gap: 40px;
   max-width: 500px;
   padding: 60px;
   margin-block: 20px;
   background-color: var(--color-dark-alt);
   border: var(--border-accent);
   border-radius: var(--border-radius);

   @include mobile-s {
      row-gap: 20px;
      padding: 30px;
   }

   &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-block: 40px;
      margin-block: auto;
   }

   &__form {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
   }
}

.register-link {
   display: flex;
   justify-content: center;

   & p {
      display: flex;
      column-gap: 12px;
      text-align: center;

      a {
         margin-inline: auto;
      }

      @include mobile-s {
         flex-direction: column;
      }
   }

   &__link {
      color: var(--color-accent);
   }
}


.login-container {
   height: 100vh;
}

.auth {
   max-width: 700px;

   &__form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;

      @include mobile {
         display: flex;
      }
   }

   &__button {
      grid-column: 1 / 3;
   }
}