@use '../helpers' as *;

.stats {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;

   @include tablet {
      grid-template-columns: repeat(2, 1fr);
   }

   @include mobile-s {
      grid-template-columns: repeat(1, 1fr);
   }

   &-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background-color: var(--color-dark-alt);
      border-radius: var(--border-radius);

      &__number {
         @include fluid-text(32, 24)
      }
   }
}