@use '../helpers' as *;

.transaction {
   &-list {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
   }

   &-item {
      padding: 20px;
      background-color: var(--color-dark-alt);
      border-radius: var(--border-radius);
      box-shadow: var(--shadow);

      &:last-child {
         margin-bottom: 40px;
      }
   }
}

.operations-card__search-results {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.search-result {
   padding: 8px;
   background-color: var(--color-dark);
   border-radius: var(--border-radius-small);
   color: var(--color-light);
   cursor: pointer;
}